<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!--<head th:replace="layout/head :: head(~{::title}, ~{::link})">-->
<head th:replace="~{layout/head :: head('계좌 가입하기', '')}">

<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <!-- Navbar -->
    <th:block th:replace="~{layout/navbar :: navbar(${member}, '')}"/>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <th:block th:replace="~{layout/sidebar :: sidebar(${member}, '/', '1')}"/>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-4">
                    <div class="col-sm-6">

                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>

        <div class="d-flex justify-content-center align-items-center vh-100">
            <div class="card shadow">
                <div class="card-body">
                    <form th:action="@{/saving-products/{savingProductId}/accounts(savingProductId=${savingProductId})}"
                          method="post">
                        <div class="mb-3">
                            <label for="initialDeposit" class="form-label">초기 예치금</label>
                            <input type="number" class="form-control" id="initialDeposit" name="initialDeposit"
                                   placeholder="초기 예치금 입력">
                        </div>
                        <div class="mb-3">
                            <label for="monthlyDeposit" class="form-label">월 납입액</label>
                            <input type="number" step=100000 class="form-control" id="monthlyDeposit"
                                   name="monthlyDeposit" placeholder="월 납입금 입력">
                        </div>
                        <button type="submit" class="btn btn-primary w-100">계좌 생성하기</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer class="main-footer">
        <!-- To the right -->
        <div class="float-right d-none d-sm-inline">
            Anything you want
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2014-2024 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights
        reserved.
    </footer>
</div>
<th:block th:replace="~{layout/scripts :: scripts('', '')}"/>

</body>
</html>