<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/head :: head(~{::title}, ~{::link})}">>
    <title>이자 계산기</title>
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-4">
                    <div class="col-sm-6">

                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>

        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 100vh;">
            <div class="card" style="width: 30rem; margin: 0 auto;">
                <form th:action="@{/interest/calculate/{id}(id=${savingProductId})}" method="post" name="calculateForm">
                    <div class="input-group mb-3">
                        <input type="number" id="monthlyAmount" name="monthlyAmount" class="form-control"
                               placeholder="월 납입금액을 입력해주세요.">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">계산하기</button>
                    </div>
                </form>
            </div>

            <h5 style="text-align: center; margin-top: 20px;">만기 후 받으실 수 있는 예상 금액입니다.</h5>
            <div class="card" style="width: 30rem; margin: 0 auto; margin-top: 20px;">
                <div class="card-body" th:if="${response}">
                    <p>총 원금: <span th:text="${response.totalPrincipal} + '원'">총 원금</span></p>
                    <p>이자(세전): <span th:text="${response.totalInterest} + '원'">예상 이자 (세전)</span></p>
                    <p>세금(일반과세 15.4%): <span th:text="${response.taxAmount} + '원'">세금 차감액</span></p>
                    <p>만기 금액(세후): <span th:text="${response.maturityAmount} + '원'">만기 금액 (세후)</span></p>
                </div>
            </div>
        </div>
    </div>

    <footer class="main-footer">
        <!-- To the right -->
        <div class="float-right d-none d-sm-inline">
            Anything you want
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2014-2024 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
    </footer>
</div>
<th:block th:replace="~{layout/scripts :: scripts('', '')}"/>
</body>
</html>