<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/head :: head(~{::title}, ~{::link})}">
    <title>거래 내역</title>
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <!-- Navbar -->
        <th:block th:replace="~{layout/navbar :: navbar(${member}, '')}"/>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <th:block th:replace="~{layout/sidebar :: sidebar(${member}, '/', '1')}"/>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-4">
                        <div class="col-sm-6">

                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <div class="container">
                <h1 th:text="${member.name} + '님의 거래 내역 조회'">거래 내역 조회</h1>

                <div th:if="${type == 'checking'}">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>거래일시</th>
                            <th>거래 금액</th>
                            <th>잔액</th>
                            <th>거래 유형</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- response 리스트를 반복하여 출력 -->
                        <tr th:each="checkHistory : ${myCheckHistory}">
                            <td th:text="${checkHistory.transactionTime}">거래 시간</td>
                            <!--      거래 금액      -->
                            <td
                                th:style="${checkHistory.type == '입금' ? 'color: blue;' : (checkHistory.type == '출금' ? 'color: red;' : '')}"
                                th:text="${checkHistory.transactionAmount} + '원'">거래 금액
                            </td>
                            <!--      거래 후 잔액      -->
                            <td th:text="${checkHistory.balanceAfter} + '원'">잔액</td>
                            <!--      거래 유형      -->
                            <td th:style="${checkHistory.type == '입금' ? 'color: blue;' : (checkHistory.type == '출금' ? 'color: red;' : '')}"
                                th:text="${checkHistory.type}">거래 유형
                            </td>
                        </tr>
                        </tbody>
                        <p th:if="${myCheckHistory == null || #lists.isEmpty(myCheckHistory)}">거래내역이 없습니다.</p>
                    </table>
                </div>

                <div th:if="${type == 'saving'}">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>거래일시</th>
                            <th>거래 금액</th>
                            <th>잔액</th>
                            <th>거래 유형</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="saveHistory : ${mySaveHistory}">
                            <td th:text="${saveHistory.transactionTime}">거래 시간</td>
                            <!--      거래 금액      -->
                            <td
                                th:style="${saveHistory.type == '입금' ? 'color: blue;' : (saveHistory.type == '출금' ? 'color: red;' : '')}"
                                th:text="${saveHistory.transactionAmount} + '원'">거래 금액
                            </td>
                            <!--      거래 후 잔액      -->
                            <td th:text="${saveHistory.balanceAfter} + '원'">잔액</td>
                            <!--      거래 유형      -->
                            <td th:style="${saveHistory.type == '입금' ? 'color: blue;' : (saveHistory.type == '출금' ? 'color: red;' : '')}"
                                th:text="${saveHistory.type}">거래 유형
                            </td>
                        </tr>
                        </tbody>
                        <p th:if="${mySaveHistory == null || #lists.isEmpty(mySaveHistory)}">거래내역이 없습니다.</p>
                    </table>
                </div>
            </div>
        </div>
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline">
                Anything you want
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2014-2024 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights
            reserved.
        </footer>
    </div>
<th:block th:replace="~{layout/scripts :: scripts('', '')}"/>

</body>
</html>